doctype html
html
    head
        style
            include style.css
    body
        div
            block content
                div.delete-content
                    | You have deleted your account!

