doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            | Best regards!
            br
            | from our Shop!
            br
            div.foot-site
                a(href="https://jsonplaceholder.typicode.com/") Visit our site



